/* google font -- Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* google font -- Dancing Script */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');



/*-------------------- 
  custom properties 
--------------------*/
:root {
    --primary-color: #E6533C;
    --secondary-color: #FFFFFF;
    --secondary-dark-color: #222222;
    --text-color: #FFFFFF80;

    --percent100: 100%;

    --fwN: 400;
    --fwSB: 600;
    --fwB: 700;
    --fwH: 900;
}

/*-------------------- 
  preset properties 
--------------------*/
body {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: var(--text-color);
    background: none repeat scroll 0 0;
    background-color: #000000;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

main>section {
    margin: 100px 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    font-family: "Inter", sans-serif;
}

ul {
    list-style: none;
}

img {
    max-width: var(--percent100);
    height: auto;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input {
    outline: none;
}

input::placeholder {
    font: inherit;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--secondary-color);
    margin: 0;
}

h1,
h2,
h3 {
    font-weight: var(--fwH);
}

/* for banner heading */
h1 {
    font-size: 4.875rem;
    line-height: 1;
}

/* for section title */
h2 {
    font-size: 3rem;
    /* 48px */
    line-height: 120%;
    margin-bottom: 14px;
}

/* for footer heading */
h3 {
    font-size: 2rem;
    /* 32px */
    line-height: 120%;
}

/* for section heading */
h4 {
    font-size: 1.75rem;
    /* 28px */
    font-weight: var(--fwB);
}

/* for item heading */
h6 {
    font-size: 1.125rem;
    /* 18px */
    font-weight: var(--fwSB);
}

/*--------------------   
  * REUSABLE SELECTION 
---------------------*/
.container {
    max-width: 1284px;
    margin: 0 auto;
    padding: 0 1.938em;
}

.fit-btn {
    padding: 16px 48px;
    border-radius: 42px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-size: 1.125rem;
    font-weight: var(--fwSB);
    line-height: 22px;
    letter-spacing: 0px;
    text-transform: capitalize;
}

.fit-border-btn {
    background-color: transparent;
    border: 1px solid var(--secondary-color);
}

.flex {
    display: flex;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-title {
    text-align: center;
    max-width: 671px;
    margin: 0 auto;
}

.round-border {
    border-radius: 18px;
}

.text-left {
    text-align: left;
}

/*==================================================
                header start
==================================================*/
header {
    background: linear-gradient(180.00deg, rgb(34, 34, 34), rgba(119, 119, 119, 0) 100%);
}

/*----------------- nav-bar -----------------*/
nav {
    padding-top: 55px;
}

/* logo */
.brand {
    font-size: 2.25rem;
    font-weight: 800;
    font-style: italic;
    color: var(--primary-color);
}


/* burger menu for mobile */
.burger-menu {
    display: none;
}

.burger-menu svg.menu-icon {
    width: 24px;
    height: 24px;
    fill: white;
}

/* menu */
.menu-wrap {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
}
ul.menu {
    gap: 3rem;
    align-items: center;
    padding: 0 30px 0 9px;
}

ul.menu li a {
    font-size: 1.125rem;
    color: var(--secondary-color);
    text-transform: capitalize;
}

ul.menu li a.active {
    padding: 8px 20px;
    border-radius: 46px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/*----------------- hero-section -----------------*/
.banner {
    margin-top: 100px;
}

/* content */
.banner-content {
    max-width: 620px;
}

.banner-title span {
    font-family: "Dancing Script", sans-serif;
    font-size: 6.25rem;
    font-style: oblique;
    font-weight: 100;
}

p.banner-text {
    font-size: 1rem;
    margin: 28px 0;
}

/* buttons */
.banner-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* image */
.banner-img-wrap {
    position: relative;
}

/* top badge */
.top-badge {
    position: absolute;
    top: 125px;
    right: -65px;
    padding: 16px 23px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: #3030308A;
    backdrop-filter: blur(20px);
}

.top-badge h4,
.bottom-badge div h5 {
    font-size: 2.5rem;
    font-weight: var(--fwH);
    letter-spacing: 1px;
    line-height: 40px;
    color: var(--secondary-color);
}

.top-badge div p,
.bottom-badge div p {
    font-size: 0.8125rem;
    letter-spacing: 0.5px;
    color: #FFFFFFA6;
    margin: 8px 0 0;
}

/* bottom badge */
.bottom-badge {
    position: absolute;
    bottom: 65px;
    left: -120px;
    padding: 20px 23px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    background: #3030308A;
    backdrop-filter: blur(20px);
}

/* round shape */
.bottom-badge span {
    background-color: var(--primary-color);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: inline-block;
    position: relative;
}

.bottom-badge span::before {
    content: "";
    width: 15px;
    height: 15px;
    background-image: url('../images/play-solid.svg');
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 55%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.bottom-badge div h5 {
    font-size: 1.5rem;
    letter-spacing: 0.3px;
    line-height: 24px;
}

.bottom-badge div p {
    font-size: 1rem;
}

/*==================================================
                header end
==================================================*/


/*==================================================
                habit section start
==================================================*/
/* habits wrap */
.habits {
    margin-top: 60px;
    flex-wrap: wrap;
    gap: 3rem;
}

/* single habit */
.single-habit {
    max-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* habit images */
.habit-1 .habit-img {
    background-image: url('../images/image\ 3.png');
}

.habit-2 .habit-img {
    background-image: url('../images/image\ 2.png');
}

.habit-3 .habit-img {
    background-image: url('../images/image\ 4.png');
}

.habit-4 .habit-img {
    background-image: url('../images/image\ 5.png');
}

.habit-img {
    width: 218px;
    height: 218px;
    background: var(--secondary-color);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: 4px solid var(--secondary-dark-color);
    border-radius: 100%;
}

/* habit title */
.single-habit h6 {
    margin-top: 25px;
}

/* habit text */
.single-habit p {
    margin-top: 6px;
    padding: 0 3px;
    text-align: center;
}

/*==================================================
                habit section end
==================================================*/

/*==================================================
                cta section start
==================================================*/
.cta-wrap {
    background-color: var(--secondary-dark-color);
    padding: 30px 32px 30px 54px;
}

.cta-content {
    flex-basis: 35%;
}

.cta-content a {
    margin-top: 30px;
    display: inline-block;
}

.cta-img {
    flex-basis: 40%;
}
.cta-img img{
    object-fit: none;
    object-position: 67% 27%;
}


/*==================================================
                cta section end
==================================================*/

/*==================================================
              bmi calculator section start
==================================================*/
.bmi-calculator {
    margin-top: 85px;
    padding: 50px 0;
    background-color: var(--secondary-dark-color);
}

.calculator-wrap {
    justify-content: space-between;
    gap: 40px;
}

/*----------------- calculator chart -----------------*/
.calculator-chart table {
    margin-top: 52px;
}

table,
th,
td {
    border: 1px solid #FFFFFF1A;
    padding: 13px 24px;
}

th {
    font-size: 1rem;
    font-weight: 500;
    color: var(--secondary-color);
}

td {
    color: var(--text-color);
}

/*----------------- calculator field -----------------*/
.calculator-field {
    flex-basis: 45%;
}

.calculator-field p {
    margin: 15px 0 35px;
}

.input-wrap {
    display: grid;
    grid-template-areas:
        'height    weight'
        'age       gender'
        'activity  activity';
    grid-gap: 15px;
}


div.input-wrap .height {
    grid-area: height;
}

div.input-wrap .weight {
    grid-area: weight;
}

div.input-wrap .age {
    grid-area: age;
}

div.input-wrap .gender {
    grid-area: gender;
}

div.input-wrap .activity {
    grid-area: activity;
}

.input-wrap input,
.input-wrap select {
    width: 100%;
    border-radius: 8px;
    outline: none;
    border: none;
    padding: 12px 10px;
    background: #FFFFFF1A;
    color: #FFFFFF99;
    font-size: 16px;
    box-sizing: border-box;
}
.input-wrap input::placeholder {
    color: #FFFFFF99;

}

.input-wrap select option {
    background: var(--secondary-dark-color);
}

.gender select,
.activity select {
    appearance: none;
    /* Remove default arrow */
    -webkit-appearance: none;
    /* For Safari */
    -moz-appearance: none;
    /* For Firefox */
    background-image: url('../images/chevron-down-solid.svg');
    /* Custom arrow image */
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 13px;
}

.submit-btn a {
    display: inline-block;
    margin-top: 35px;
}

/*==================================================
               bmi calculator section end
==================================================*/

/*==================================================
                team section start
==================================================*/

.team-members {
    margin-top: 60px;
    padding: 20px;
    background-color: var(--secondary-dark-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 25px;
}

/* member images */
.member-1 {
    background-image: url(../images/trainer1.png);
}

.member-2 {
    background-image: url(../images/trainer2.png);
}

.member-3 {
    background-image: url(../images/trainer3.png);
}

.member-4 {
    background-image: url(../images/trainer4.png);
}

.member-5 {
    background-image: url(../images/trainer5.png);
}

.member-6 {
    background-image: url(../images/trainer6.png);
}

.single-member {
    width: 100%;
    height: 330px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}

/* member images overlay */
.single-member::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.705) 0%, rgba(0, 0, 0, 0.164) 100%);
    z-index: 1;
}

/* member info */
.member-info {
    z-index: 3;
    position: absolute;
    bottom: 16px;
    left: 19px;
}

/* member title */
.single-member h6 {
    font-size: 20px;
    font-weight: var(--fwH);
    line-height: 120%;
    margin-top: 20px;
    margin-bottom: 3px;

}

/*==================================================
                team section end
==================================================*/

/*==================================================
                pricing plan section start
==================================================*/
.plans-wrap {
    margin-top: 60px;
    justify-content: space-between;
}

/* single plan */
.single-plan {
    flex: 0 0 25%;
    background-color: var(--secondary-dark-color);
    padding: 40px 35px 65px;
}

/* plan title */
.single-plan .plan-title h5 {
    font-size: 26px;
    margin-bottom: 8px;
}

/* horizontal bar */
.single-plan hr {
    margin: 20px 0 30px;
    border: 1px solid var(--primary-color);
}

/* price */
.single-plan .price h3 {
    font-size: 40px;
    margin-bottom: 30px;
}

/* currency */
.single-plan .price .currency {
    font-size: 1.25rem;
    font-weight: var(--fwSB);
}

/* per-month */
.single-plan .price .period {
    font-size: 1.375rem;
    font-weight: var(--fwSB);
}

/* plan - single feature */
.plan-single-feature p {
    font-weight: var(--fwSB);
}

/* button*/
.join-button {
    text-align: center;
    margin-top: 60px;
}

/* primary-color */
/* plan title, price, single-plan feature span */
.single-plan .plan-title h5,
.single-plan .price h3,
.single-plan .plan-single-feature span {
    color: var(--primary-color);
}

/* secondary-color */
/* plan description, currency and period, plan - single feature */
.single-plan .plan-title p,
.single-plan .price,
.single-plan .plan-single-feature p {
    color: var(--secondary-color);
}


/* height light plan */

/* single-plan */
.height-light-plan {
    background-color: var(--primary-color);
}

/* button*/
.height-light-plan .join-button a {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

/* secondary-color */
.height-light-plan .plan-title h5,
.height-light-plan .plan-single-feature p {
    color: var(--secondary-color);
}

/* secondary-dark-color */
/* plan description, currency and period, plan - single feature */
.height-light-plan .plan-title p,
.height-light-plan .price h3,
.height-light-plan .price, .height-light-plan .plan-single-feature span{
    color: var(--secondary-dark-color);
}

/* horizontal bar */
.height-light-plan hr {
    border: 1px solid var(--secondary-color);
}

/*==================================================
                pricing plan section end
==================================================*/

/*==================================================
                footer section start
==================================================*/
footer {
    background-color: var(--secondary-dark-color);
    padding: 70px 0 28px;
}

.footer-wrap {
    justify-content: space-between;
    gap: 50px;
}

/* brand info */
.brand-info {
    flex-basis: 35%;
}

.brand-info h3 {
    font-size: 4.375rem;
    font-weight: 800;
    font-style: italic;
    line-height: 120%;
    color: var(--primary-color);
    margin-bottom: 18px;
}

/* footer menus */
.footer-menu-1,
.footer-menu-2 {
    flex-basis: 25%;
}

.footer-menu-1 h3,
.footer-menu-2 h3 {
    font-size: 2rem;
    font-weight: var(--fwB);
}

.footer-menu-1 ul,
.footer-menu-2 ul {
    padding: 0;
    margin-top: 35px;
}

.footer-menu-1 ul li,
.footer-menu-2 ul li {
    margin-bottom: 15px;
}

.footer-menu-1 ul li a,
.footer-menu-2 ul li a {
    font-size: 1.063rem;
}

/* horizontal line */
hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 60px;
}

/* footer copyright text */
.copyright {
    margin-top: 30px;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}

/*==================================================
                footer section end
==================================================*/


/*----------------- responsive media query -----------------*/
/* Desktop */
@media screen and (min-width: 993px) {}

/* Laptop */
@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .top-badge {
        right: -15px;
    }

    .top-badge h4 {
        font-size: 2rem;
        line-height: 30px;
    }
}

/* Tablet */
@media screen and (min-width: 576px) and (max-width: 992px) {

    /* banner, plans-wrap */
    .banner,
    .plans-wrap {
        flex-direction: column;
        gap: 3rem;
    }
}

/* Mobile */
@media screen and (max-width: 576px) {

    /* nav bar */
    ul.menu {
        display: none;
    }

    /* burger menu */
    .burger-menu {
        display: block;
    }

    /* banner, single habit items, cta-wrap, footer-wrap, calculator-wrap, plans-wrap */
    .banner,
    .habits,
    .cta-wrap,
    .footer-wrap,
    .calculator-wrap,
    .plans-wrap {
        flex-direction: column;
    }

    /* banner heading */
    h1.banner-title {
        font-size: 2.25rem;
        line-height: 120%;
    }

    /* banner heading span */
    .banner-title span {
        font-size: 5rem;
    }

    /* button */
    .banner-buttons a {
        padding: 16px 22px;
    }

    /* top badge */
    .top-badge {
        top: 45px;
        right: -20px;
        padding: 13px 18px;
    }

    /* bottom badge */
    .bottom-badge {
        bottom: 250px;
        left: 0px;
        padding: 15px 17px;
    }

    /* top badge heading */
    .top-badge h4,
    .bottom-badge div h5 {
        font-size: 1.875rem;
        letter-spacing: 0.76px;
    }

    /* bottom badge heading */
    .bottom-badge div h5 {
        font-size: 1.125rem;
        letter-spacing: 0.23px;
    }

    /* habits section title */
    h2 {
        font-size: 2rem;
    }

    /* single habit items */
    .habits,
    .cta-wrap,
    .plans-wrap {
        gap: 3rem;
    }

    /* cta button */
    .cta-content a {
        width: 66%;
        text-align: center;
    }

    /* team members */
    .team-members {
        grid-template-columns: 1fr;
    }

    .mp {
        padding: 0 1.938em;
    }

}